* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar__brand {
    width: 100px;
}

.navbar__logo {
    width: 100%;
}

.button__primary {
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-weight: 600;
}

.button__primary:hover {
    border: 2px solid #ff676f; 
    cursor: pointer;
    );
}

.container {
    padding: 20px;
}

.hero__image__container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
}

.hero__image {
    width: 100%;
    max-width: 500px;
    height: auto;
}

@media (min-width: 768px) {
    .navbar {
        justify-content: space-between;
        padding: 10px 30px;
    }
}   

@media (min-width: 1024px) {
    .navbar__brand {
        width: 150px;
    }
    .button__primary {
        padding: 10px 20px;
        font-size: 20px;
    }
}